{% extends "base.html" %}
{% block title %}Previous Analysis{% endblock %}
{% block extra-css %}
    <style>
        .loadingGif {

        }
    </style>
{% endblock %}
{% block navbar-previous-analysis-active %}active {% endblock %}

{% block body %}
    <div class="container">
        {% if previous_requests %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>

                {% for req in previous_requests %}
                    <tr>
                        <td><a href="{% url 'core.views.older_result_detail' req.pk %}">{{ req.created }}</a></td>
                        <td>{{ req.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>No previous requests found</h4>

        {% endif %}
        <a href="{% url 'core.views.older_results' %}?new=True">New Request</a>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="enterEmailLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <h6>Clicking yes, means that you agree to receive emails from us.</h6>
                        <div class="text-center">
                            <div class="span4"><img src="http://www.jotform.com/images/ajax-loader.gif" alt="Loading"
                                                    class="loadingGif" style="display: none"/></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="yes_button" class="btn btn-primary">Yes</button>
                        <button type="button" id="no_button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block extra-js %}
    <script>
        $(document).ready(function () {
            {% if new_request %}
                $('#myModal').modal('show');
            {% endif %}
            $("#yes_button").click(function () {
                $(".loadingGif").show();
                $("#yes_button").prop("disabled", true);
                $.ajax({
                    url: "{% url 'core.views.start_analytics' %}",
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        $("#myModal").modal('toggle');
                        document.location.href = "{% url 'core.views.older_results' %}";
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Something went wrong. Check your profile if you have given us a valid email ID.");
                        document.location.href = "{% url 'core.views.edit_profile' %}";
                    }
                });

            });
        });
    </script>
{% endblock %}